@import "colors";

#account-page {
  #right-section {
    .box-partial {
      cursor: pointer;
    }
  }

  #tab-images,
  #tab-password {
    display: none;
  }

  .account-form {
    padding: 10px 40px 40px 40px;
    > div {
      margin: 20px 0;
      > div:first-child {
        display: inline-block;
        width: 15%;
        text-align: right;
        vertical-align: top;
        margin-right: 10px;
      }
      > div:last-child {
        margin-left: 17%;
        font-size: 13px;
      }
    }
    input[type="text"], input[type="email"], input[type="url"] {
      width: 225px;
      min-height: 28px;
      margin-bottom: 5px;
      padding-left: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }
    select {
      width: 75px;
      min-height: 28px;
      margin-bottom: 5px;
      padding-left: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }
    select:nth-child(2) {
      width: 50px !important;
    }
    select[name="gender"] {
      width: 110px !important;
    }
    textarea {
      resize: none;
    }
  }
  #update-user-btn {
    margin: 10px 0 10px 150px;
    padding: 5px;
    background: #f3f1f4;
    color: #636363;
    border: 1px solid silver;
    border-radius: 2px;
    cursor: pointer;
  }
  .button-separator {
    border-top: 1px solid #d2d2d2;
  }
}

.friend-name {

}

a {
  text-decoration: none;
 }