@import "colors";

#account-form {
  padding: 10px 40px 40px 40px;
  > div {
    margin: 20px 0;
    > div:first-child {
      display: inline-block;
      width: 30%;
    }
    > div:last-child {
      margin-left: 30%;
    }
  }
}