#account-page #right-section .box-partial {
  cursor: pointer;
}
#account-page #right-section .box-partial.selected {
  font-weight: 900;
  font-size: 16px;
}
#account-page #tab-images,
#account-page #tab-password {
  display: none;
}
#account-page #change-password-btn {
  margin-left: 17%;
  padding: 5px;
  background: #f3f1f4;
  color: #636363;
  border: 1px solid silver;
  border-radius: 2px;
  cursor: pointer;
}
#account-page .account-form {
  padding: 10px 40px 40px 40px;
}
#account-page .account-form > div {
  margin: 20px 0;
}
#account-page .account-form > div > div:first-child {
  display: inline-block;
  width: 15%;
  text-align: right;
  vertical-align: top;
  margin-right: 10px;
}
#account-page .account-form > div > div:last-child {
  margin-left: 17%;
  font-size: 13px;
}
#account-page .account-form input[type="text"],
#account-page .account-form input[type="email"],
#account-page .account-form input[type="url"] {
  width: 225px;
  min-height: 28px;
  margin-bottom: 5px;
  padding-left: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
#account-page .account-form select {
  width: 75px;
  min-height: 28px;
  margin-bottom: 5px;
  padding-left: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
#account-page .account-form select:nth-child(2) {
  width: 50px !important;
}
#account-page .account-form textarea {
  resize: none;
}
#account-page #update-user-btn {
  margin: 10px 0 10px 150px;
  padding: 5px;
  background: #f3f1f4;
  color: #636363;
  border: 1px solid silver;
  border-radius: 2px;
  cursor: pointer;
}
#account-page .button-separator {
  border-top: 1px solid #d2d2d2;
  margin: 40px -40px -40px -40px !important;
}
#account-page a {
  text-decoration: none;
}
#account-page .box-updateImg {
  background: #fdfdfe;
  color: #777779;
  font-weight: bold;
  border-bottom: 1px solid #bebebe;
}
#account-page .box-updateImg #cover-img {
  display: inline-block;
  width: 100%;
  height: 180px;
  margin-bottom: 20px;
}
#account-page .box-updateImg #photo-input {
  border: 1px solid silver;
  padding: 5px;
  border-radius: 3px;
  margin-top: 25px;
  margin-bottom: 15px;
}
#account-page .box-updateImg #cover-input {
  border: 1px solid silver;
  padding: 5px;
  border-radius: 3px;
  margin: 0 0 15px 10px;
}
#account-page .box-updateImg #photo-img {
  margin: 15px 10px;
  display: inline-block;
  width: 90px;
  height: 90px;
  border-radius: 5px;
}
#account-page .box-updateImg #upload-photo-btn {
  padding: 5px;
  border: 1px solid silver;
  background-color: #ECECEC;
  border-radius: 2px;
  color: #636363;
}
#account-page .box-updateImg #upload-cover-btn {
  margin: 0 0 20px 10px;
  padding: 5px;
  border: 1px solid silver;
  background-color: #ECECEC;
  border-radius: 2px;
  color: #636363;
}
#account-page .updateImg {
  display: inline-block;
  vertical-align: top;
}
#account-page #photo-img {
  margin: 20px 10px;
  display: inline-block;
  width: 90px;
  height: 90px;
  border-radius: 5px;
}
