#account-page #right-section .box-subTitle {
  cursor: pointer;
}
#account-page #tab-images,
#account-page #tab-password {
  display: none;
}
#account-page .account-form {
  padding: 10px 40px 40px 40px;
}
#account-page .account-form > div {
  margin: 20px 0;
}
#account-page .account-form > div > div:first-child {
  display: inline-block;
  width: 30%;
}
#account-page .account-form > div > div:last-child {
  margin-left: 30%;
}
