#profile-cover {
  height: 300px;
  overflow: hidden;
  margin: 20px 0 0 0;
  position: relative;
}
#profile-cover > img {
  width: 100%;
}
#profile-cover .pc-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  right: 0;
  height: 50px;
  line-height: 50px;
  text-indent: 130px;
}
#profile-cover .pc-footer img {
  border-radius: 50px;
  margin: -65px 0 0 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  border: 3px solid #fff;
  position: absolute;
  left: 0;
  width: 100px;
  height: 100px;
}
#profile-cover .pc-footer .pc-is-friend {
  background: url('../images/sprites.png') 3px -273px no-repeat;
  width: 40px;
  height: 40px;
  zoom: 0.5;
  display: inline-block;
  margin: 0 0 0 10px;
  top: 6px;
  position: relative;
}
#profile-cover .pc-actions {
  float: right;
  margin: 10px 10px 0 0;
}
.pca-icon {
  width: 40px;
  height: 40px;
  zoom: 0.5;
  border: 1px solid #bbb;
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
  float: right;
  margin: 0 0 0 10px;
  position: relative;
}
.pca-icon a {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.change-cover-icon {
  background: url('../images/sprites.png') -85px -153px no-repeat;
}
.add-friend-icon {
  background: url('../images/sprites.png') -85px -203px no-repeat;
}
.remove-friend-icon {
  background: url('../images/sprites.png') -85px -255px no-repeat;
}
#load-more-posts-btn {
  position: relative;
  left: 333px;
  background-color: white;
  border: 1px solid silver;
  border-radius: 3px;
  padding: 6px;
  box-shadow: 0px 1px 3px silver;
  cursor: pointer;
}
.notification {
  padding: 0 !important;
  border-radius: 4px;
}
.box-text {
  position: relative;
  top: 10px;
}
#noti-added {
  position: relative;
  top: 10px;
  left: 25px;
}
#noti-added::before {
  content: "";
  position: absolute;
  display: block;
  background: url('../images/sprites.png') -49px -170px no-repeat;
  width: 32px;
  height: 28px;
  zoom: 0.7;
  left: 68px;
}
#noti-commented {
  position: relative;
  top: 10px;
  left: 25px;
}
#noti-commented::before {
  content: "";
  position: absolute;
  display: block;
  background: url('../images/sprites.png') -49px -100px no-repeat;
  width: 32px;
  height: 28px;
  zoom: 0.7;
  left: 68px;
}
#noti-liked {
  position: relative;
  top: 10px;
  left: 25px;
}
#noti-liked::before {
  content: "";
  position: absolute;
  display: block;
  background: url('../images/sprites.png') -49px -205px no-repeat;
  width: 32px;
  height: 31px;
  zoom: 0.7;
  left: 68px;
}
