#profile-cover {
  height: 300px;
  overflow: hidden;
  margin: 20px 0 0 0;
  position: relative;
}
#profile-cover > img {
  width: 100%;
}
#profile-cover .pc-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  right: 0;
  height: 50px;
  line-height: 50px;
  text-indent: 130px;
}
#profile-cover .pc-footer img {
  border-radius: 50px;
  margin: -65px 0 0 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  border: 3px solid #fff;
  position: absolute;
  left: 0;
  width: 100px;
  height: 100px;
}
